<section id="new-task" class="container rounded px-5 w-sm-75 bg-white mt-sm-5 p-5 ">
    <h3 class="fw-bolder mb-3">New User</h3>
<%= form_for(user, {action: "/user/create", method: "POST", class: "form"}) { %>
    <div class="mb-3 g-form">
        <%= f.InputTag("FirstName") %>
        <%= f.InputTag("LastName") %>
    </div>
    <%= f.InputTag("Email") %>
  <div class="mb-3 g-form">
    <%=f.InputTag("Password", {type: "password"}) %>
    <%=f.InputTag("PasswordConfirmation", {type: "password"}) %>
  </div>

    <div class="mt-4 d-flex justify-content-end">
        <div>
            <a href="/" id="cancel" class="btn btn-light py-2 px-sm-3 mr-3 text-dark" >Cancel</a>
            <button  class="btn color-one py-2 px-sm-3 text-white" type="submit">Create User</button>
        </div>
    </div>
<% } %>
</section>
