<section id="new-task" class="container centered px-5 w-md-50 bg-white rounded p-5 ">
  <h3 class="fw-bolder mb-3">Add Password</h3>
<%= form_for(user, {action: userAddPasswordUserIDPath({user_id: user.ID}), method: "PUT", class: "form"}) { %>
  <div class="mb-3 g-form">
      <%=f.InputTag("Password", {type: "password"}) %>
      <%=f.InputTag("PasswordConfirmation", {type: "password"}) %>
  </div>
  <div class="mt-4 d-flex justify-content-end">
      <a href="/"> <button id="cancel" class="btn btn-light py-2 px-3 mx-3 text-dark" type="button">Cancel</button></a>
      <button data-method="PUT" data-confirm="Are you sure you want to add this password?" id="update-task" class="btn color-one py-2 px-3 text-white" type="submit">Save Password</button>
    </div>
<% } %>
</section>