<%= partial("partials/navbar.plush.html") %>
<div class="jumbotron mt-5 container-fluid ">
    <h2 class="display-4 text-center">User details</h2>
        <p class="lead">FirstName: <%= user.FirstName %></p>
        <p class="lead">Last Name: <%= user.LastName %></p>
        <p class="lead">Email: <%= user.Email %></p>
        <p class="lead">Rol: <%= user.Rol %></p>
    <%= if (current_user.Rol == "admin") {%>
        <p class="lead">Tasks Incompleted: <%= tasksI %></p>
        <p class="lead">Tasks Completed: <%= tasksC %></p>
    <% } %>
   <hr class="my-4">
    <div class="d-flex justify-content-end">
        <div >
            <%= if (current_user.Rol == "admin") { %>
                <a class="btn btn-light py-sm-2 px-sm-4 text-dark mr-3" href="/user/list" role="button"><span>Back</span></a>
            <% } else{  %>
                <a class="btn btn-light py-sm-2 px-sm-4 text-dark mr-3" href="/tasks" role="button"><span>Back</span></a>
            <% } %>
        </div>
        <div>
            <%= if (equalsID(current_user.ID,user.ID)) {%>
                <div class="dropdown">
                    <a class="btn btn-primary py-sm-2 px-sm-4 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span>Edit</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/user/edit/<%= user.ID %>">Edit Information</a>
                      <a class="dropdown-item" href="/user/changePassword/<%= user.ID %>">Change Password</a>
                    </div>
                  </div>
            <% } else{ %>
                <a class="btn btn-primary py-sm-2 px-sm-4" href="/user/edit/<%= user.ID %>" ="button">Edit</a>
            <% } %>
        </div>
    </div>
  </div>