<div class="container-addTask">
    <h3 id="current-user" class="my-auto"> 
      <a class="nav-link title-task" href="/user/show/<%= current_user.ID %>"
      ><%= current_user.FirstName +" "+ current_user.LastName %></a
    ></h3>
    <div class="d-flex justify-content-end py-4"  >
      <%= if (current_user.Rol == "admin" ) {%>
      <a href="/user/newByAdmin" type="button" class="btn color-one <%= addTask(params["check_complet"])%> ">
        <span class="py-2 px-sm-4 text-white"
          >Add User<i class="far fa-user ml-3"></i></span
        ><% } %>
      </a>
      <a href="/tasks/new" id="add-task" type="button" class="btn color-one ml-3 <%= addTask(params["check_complet"])%> ">
        <span class="py-2 px-sm-4 text-white"
          ><i class="fas fa-tasks mr-3"></i>Add Task</span>
      </a>
    </div>
  </div>
