<%= partial("partials/navbar.plush.html") %>
<div class="jumbotron mt-5 container w-75">
    <div class="d-flex justify-content-between">
        <h1 class="display-3 title-task"><%= task.Title %></h1>
        <p class="lead text-muted"> <%= user.FirstName %> <%= user.LastName %></p>
    </div>
    <div class="d-flex justify-content-end">
        <p class="lead text-muted"> <%= FormatDate(task.CheckComplet,task.LimitData,task.UpdatedAt) %> </p>
    </div>
    <p class="lead"><%= task.Description %></p>
    <hr class="my-4">
    <div class="d-flex justify-content-between">
        <div >
            <a class="btn btn-light py-2 px-4 btn-lg text-dark" href="/tasks/" role="button">Back</a>

        </div>
        <%= if (!task.CheckComplet) { %>
            <div>
                <a class="btn btn-primary btn-lg px-4" href="/tasks/edit/<%= task.ID %>" role="button">Edit</a>
            </div>
            <% }  %>
    </div>

  </div>